/* НАСТРОЙКИ ДЛЯ ВСЕГО */
* {
	font-family: JetBrainsMono, Symbols Nerd Font;
	font-weight: bold;
	font-size: 15px;
	min-height: 0;
}

/* ЦВЕТА */
@define-color bg #282828;
@define-color fg #ebdbb2;
@define-color y #d79921;
@define-color g #98971a;

/* НАСТРОЙКИ САМОГО ТЕЛА БАРА */
window#waybar {
	background-color: @bg;
	transition-property: background-color;
	transition-duration: .5s;
	border-radius: 5;
}

/* МОДУЛЬ МЕНЮ(WOFI) */
#custom-menu {
	color: @y;
	background-color: @bg;
	padding: 0px 5px;
	margin: 0px 0px 0px 10px;
}

#custom-menu:hover {
	color: @fg;
	background-color: @bg;
	padding: 0px 5px;
	margin: 0px 0px 0px 10px;
}

/* МОДУЛЬ ВОРКСПЕЙСОВ */
#workspaces {
	padding: 0px 10px;
}

/* Кнопки воркспейсов дефолтные/под курсором/активные/требующие внимания */
#workspaces button {
	padding: 0px;
	background-color: @bg;
	color: @fg;
}
#workspaces button:hover {
	padding: 0px;
	background-color: @bg;
	color: @fg;
}
#workspaces button.focused {
	color: @y;
}
#workspaces button.urgent {
    background-color: #eb4d4b;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @y;
}


/* МОДУЛЬ ФАЙЛОВОГО МЕНЕДЖЕРА */
#custom-fm {
	color: @fg;
	background-color: @bg;
	padding: 0px 5px;
	margin: 0px 10px;
}
#custom-fm:hover {
	color: @y;
	background-color: @bg;
	padding: 0px 5px;
	margin: 0px 10px;
}


/* МОДУЛЬ СКРИНШОТА ОБЛАСТИ ЭКРАНА */
#custom-scren {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 0px 0px 10px;
	font-size: 18px;
}
#custom-scren:hover {
	color: @y;
	background-color: @bg;
	padding: 0px ;
	margin: 0px 0px 0px 10px;
	font-size: 18px;
}


/* МОДУЛЬ ЗАПИСИ ЭКРАНА */
#custom-rec {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 5px;
	font-size: 22px;
}
#custom-rec:hover {
	color: @y;
	background-color: @bg;
	padding: 0px ;
	margin: 0px 5px;
	font-size: 22px;
}



/* МОДУЛЬ CMUS */
#custom-cmus {
	color: @fg;
	background-color: @bg;
	padding: 0px 30px;
	margin: 0px 5px;
}
#custom-cmus:hover {
	color: @y;
	background-color: @bg;
	padding: 0px 30px;
	margin: 0px 5px;
}


/* ЗАГРУЗКА ПРОЦА И ПАМЯТИ*/
#cpu {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px;
	font-size: 18px;
}
#memory {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
	font-size: 18px;
}



/* ТРЕЙ */
#tray {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
}


/* PULSEAUDIO */
#pulseaudio {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
}
#pulseaudio:hover {
	color: @y;
}


/* МОДУЛЬ WI-FI */
#custom-wf {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
}
#custom-wf:hover {
	color: @y;
	background-color: @bg;
	padding: 0px ;
	margin: 0px 10px;
}


/* МОДУЛЬ BLUETOCH */
#custom-bt {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
}
#custom-bt:hover {
	color: @y;
	background-color: @bg;
	padding: 0px ;
	margin: 0px 10px;
}


/* ЛАНГУАГЕ */
#language {
	color: @y;
	background-color: @bg;
	padding: 0px 0px 3px 0px;
	margin: 0px 10px;
	font-family: JetBrainsMono;
	font-weight: bold;
	font-size: 22px;
}

#language:hover {
	color: @fg;
	background-color: @bg;
	padding: 0px 0px 3px 0px;
	margin: 0px 10px;
	font-weight: normal;
	font-size: 22px;
}

/* ЧАСЫ */
#clock {
	color: @g;
	background-color: @bg;
	padding: 0px ;
	margin: 0px 10px;
}

/* МЕНЮ УПРАВЛЕНИЯ СЕАНСОМ */
#custom-power {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
	font-size: 22px;
}
#custom-power:hover {
	color: @y;
	background-color: @bg;
	padding: 0px ;
	margin: 0px 10px;
	font-size: 22px;
}
